*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.carousel-container{
    width: 60%;
    margin: auto;
    overflow: hidden;
    border: 5px solid black;
    position: relative;
    
}

.carousel-slide{
    display: flex;
    width: 100%;
    height: 650px;
}

#prevBtn{
    position: absolute;
    top: 45%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    border: 20px solid transparent;
    opacity: 0.8;
    cursor: pointer;
}
#prevBtn:hover{
    border: 20px solid rgba(128, 128, 128);
    background-color: rgb(128, 128, 128);
    border-radius: 50%;
}

#nextBtn{
    position: absolute;
    top: 45%;
    z-index: 10;
    right:5%;
    font-size: 30px;
    color: white;
    border: 20px solid transparent;
    opacity: 0.8;
    cursor: pointer;
}

#nextBtn:hover{
    border: 20px solid rgba(128, 128, 128);
    background-color: rgb(128, 128, 128);
    border-radius: 50%;
}

/* Nav Dots */
.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.7);
}

.nav-dots .dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.9);
}

.nav-dots .active-dot {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
  }